<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Using express-fileupload</title>
  </head>
  <body>
    <h2>Using express-fileupload</h2>
    <br><br>
    <form class="" action="/upload" method="post" encType="multipart/form-data">
      <input type="file" name="foo">
      <button type="submit" name="button">Upload</button>
    </form>
    </body>
</html>
